# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env/
ENV/
env/

# -----------------
# VS Code
# -----------------
.vscode/
.history/

# -----------------
# Logs
# -----------------
*.log

# -----------------
# OS Files
# -----------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
